* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Thin.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Bold.ttf") format("truetype");
  font-weight: 700;
}
