<footer class="page-footer">

  <div class="footer-copyright">
    <div class="container center">
      © Pencil Labs, 2015
    </div>
  </div>

  <script type="text/javascript" src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/bin/materialize.min.js" | prepend: site.baseurl }}"></script>
  <script>
  $(document).ready(function() {
    $(".button-collapse").sideNav();
    $(".parallax").parallax();

    var options = [
    {selector: '#loading', offset: 100, callback: 'Materialize.showStaggeredList("#loading")' },
    {selector: '#service-focused', offset: 250, callback: 'Materialize.showStaggeredList("#service-focused")' },
    {selector: '#contact-us', offset: 400, callback: 'Materialize.showStaggeredList("#contact-us")' },
    {selector: '#parallax-end', offset: 400, callback: 'Materialize.fadeInImage("#parallax-end")'}
    ];
    Materialize.scrollFire(options);
  })
  </script>
</footer>