<footer class="page-footer">

  <div class="footer-copyright">
    <div class="container center">
      © Pencil Labs, 2015
    </div>
  </div>

  <script type="text/javascript" src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/bin/materialize.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/scroll_navbar.js" | prepend: site.baseurl }}"></script>
  <script>
  $(document).ready(function() {
    $(".button-collapse").sideNav();
    $(".parallax").parallax();

    var options = [
    {selector: '#loading', offset: 100, callback: 'Materialize.showStaggeredList("#loading")' },
    {selector: '#service-focused', offset: 250, callback: 'Materialize.showStaggeredList("#service-focused")' },
    {selector: '#contact-us', offset: 400, callback: 'Materialize.showStaggeredList("#contact-us")' },
    {selector: '#parallax-end', offset: 400, callback: 'Materialize.fadeInImage("#parallax-end")'},
    {selector: '#innovation-txt', offset: 200, callback: 'Materialize.showStaggeredList("#innovation-txt")' },
    {selector: '#innovation-img', offset: 200, callback: 'Materialize.fadeInImage("#innovation-img")'},
    {selector: '#s-innovation-txt', offset: 200, callback: 'Materialize.showStaggeredList("#s-innovation-txt")' },
    {selector: '#s-innovation-img', offset: 200, callback: 'Materialize.fadeInImage("#s-innovation-img")'},
    {selector: '#web-development-txt', offset: 200, callback: 'Materialize.showStaggeredList("#web-development-txt")' },
    {selector: '#web-development-img', offset: 200, callback: 'Materialize.fadeInImage("#web-development-img")'},
    {selector: '#s-web-development-txt', offset: 200, callback: 'Materialize.showStaggeredList("#s-web-development-txt")' },
    {selector: '#s-web-development-img', offset: 200, callback: 'Materialize.fadeInImage("#s-web-development-img")'},
    {selector: '#mobile-development-txt', offset: 200, callback: 'Materialize.showStaggeredList("#mobile-development-txt")' },
    {selector: '#mobile-development-img', offset: 200, callback: 'Materialize.fadeInImage("#mobile-development-img")'},
    {selector: '#s-mobile-development-txt', offset: 200, callback: 'Materialize.showStaggeredList("#s-mobile-development-txt")' },
    {selector: '#s-mobile-development-img', offset: 200, callback: 'Materialize.fadeInImage("#s-mobile-development-img")'},
    {selector: '#machine-learn-txt', offset: 200, callback: 'Materialize.showStaggeredList("#machine-learn-txt")' },
    {selector: '#machine-learn-img', offset: 200, callback: 'Materialize.fadeInImage("#machine-learn-img")'},
    {selector: '#s-machine-learn-txt', offset: 200, callback: 'Materialize.showStaggeredList("#s-machine-learn-txt")' },
    {selector: '#s-machine-learn-img', offset: 200, callback: 'Materialize.fadeInImage("#s-machine-learn-img")'},
    {selector: '#consultancies-txt', offset: 200, callback: 'Materialize.showStaggeredList("#consultancies-txt")' },
    {selector: '#consultancies-img', offset: 200, callback: 'Materialize.fadeInImage("#consultancies-img")'},
    {selector: '#s-consultancies-txt', offset: 200, callback: 'Materialize.showStaggeredList("#s-consultancies-txt")' },
    {selector: '#s-consultancies-img', offset: 200, callback: 'Materialize.fadeInImage("#s-consultancies-img")'},
    ];
    Materialize.scrollFire(options);
  })
  </script>
</footer>