<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container center">
      © Pencil Labs, 2015
    </div>
  </div>

  <script type="text/javascript" src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/bin/materialize.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/scroll_navbar.js" | prepend: site.baseurl }}"></script>
  <script>
  $(document).ready(function() {
    $(".button-collapse").sideNav();
    $(".parallax").parallax();
    $(".tooltipped").tooltip({delay: 50});
    var methods = ["showStaggeredList","showStaggeredList","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage","showStaggeredList","fadeInImage"
    ];
    var offsets = [100,250,400,400,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200,200
    ];
    var divs = ["#loading","#service-focused","#contact-us","#parallax-end","#innovation-txt","#innovation-img","#s-innovation-txt","#s-innovation-img","#web-development-txt","#web-development-img","#s-web-development-txt","#s-web-development-img","#mobile-development-txt","#mobile-development-img","#s-mobile-development-txt","#s-mobile-development-img","#machine-learn-txt","#machine-learn-img","#s-machine-learn-txt","#s-machine-learn-img","#consultancies-txt","#consultancies-img","#s-consultancies-txt","#s-consultancies-img","#security-txt","#security-img","#s-security-txt","#s-security-img"
    ];
    var options = [];
    for (var i = 0; i < divs.length; i++) {
      options[i] = {selector: divs[i], offset: offsets[i], callback: 'Materialize.' + methods[i] + '("' + divs[i] + '")'};
    };
    console.log(options);
    Materialize.scrollFire(options);
  })
  </script>
</footer>
