<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

<div class="navbar-fixed z-depth-1">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center"><img class="navbar-logo" src="{{ "/assets/logo.png" | prepend: site.baseurl }}" alt=""></a>

      <!-- activate side-bav in mobile view -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

      </ul>
      <!-- navbar for mobile -->
      <ul class="side-nav" id="mobile-demo">
      </ul>
    </div>
  </nav>
</div>