<head>
  <title>Pencil Labs | Desenhando o futuro. Juntos.</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="import" href="{{ site.baseurl }}/components/pencil-banner.html">
  <link rel="import" href="{{ site.baseurl }}/components/pencil-card-container.html">
  <link rel="import" href="{{ site.baseurl }}/components/pencil-business-container.html">
  <link rel="import" href="{{ site.baseurl }}/components/pencil-work-container.html">
  <link rel="import" href="{{ site.baseurl }}/components/pencil-footer.html">
</head>
