<head>
  <title>Pencil Labs | Desenhando o futuro. Juntos.</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/style.css">
  <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="{{ site.baseurl }}components/pencil-banner.html">
  <link rel="import" href="{{ site.baseurl }}components/pencil-card-container.html">
  <link rel="import" href="{{ site.baseurl }}components/pencil-business-container.html">
  <link rel="import" href="{{ site.baseurl }}components/pencil-work-container.html">
  <link rel="import" href="{{ site.baseurl }}components/pencil-footer.html">
  <link rel="import" href="{{ site.baseurl }}components/pencil-home-header.html">

  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">


  <!-- EMAIL -->
  <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script type="text/javascript">
    (function(){
      emailjs.init("user_cmM2A5zoomMBF46xR7IAw");
    })();
  </script>

  <!-- CAPCHA -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
