#pencil-navbar {
    position: fixed;
    display: initial;
    opacity: 0;
    top: 0;
}

.navbar-logo {
    @extend .responsive-img;
    width: 3rem;
    padding-top: 0.4rem;
}

.intro {
    background: url('/assets/pencil-mobile-low.jpg') no-repeat center center fixed;
    height: 100vh;
    position: relative;
    background-size: cover;
    padding: 10rem 0 15rem 0;
}

.home-logo {
    @extend .responsive-img;
    @include fadeInDown($duration: 2s);
    width: 100%;
}

.show-more {
    @include bounce($duration: 2s, $count: 5);
    margin-top: 5rem;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -43.5px;
}

.first {
    height: 50rem;
}

.staggered-list {
    opacity: 0;
}

.development-imgs {
    @extend .responsive-img;
    opacity: 0;
    width: 14rem;
}

.parallax-middle {
    @extend .parallax-container;
    height: 25rem;
}

.main-content {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "AdventPro";
    font-weight: bold;
}

.active-navbar {
    @extend .active;
    font-weight: bold;
    border-bottom: 2px solid color("pencil", "orange");

    :hover {
        color: darken(white, 10);

    }
}

.facebook-content,
.phone-content,
.contact-content{
    position: absolute;
    left: 47px;
    bottom: 0px;
}

.footer-social{
    padding-top: 30px !important;
    padding-left: 40px !important;
}

.icon-position{
    position: relative !important;
}


.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.text-center {
  text-align: center;
}
