#pencil-navbar {
    position: fixed;
    display: initial;
    top: 0;
}

.navbar-logo {
    @extend .responsive-img;
    width: 3rem;
    padding-top: 0.4rem;
}

.first {
    height: 50rem;
}

.staggered-list {
    opacity: 0;
}
