#pencil-navbar {
    position: fixed;
    display: initial;
    opacity: 0;
    top: 0;
}

.navbar-logo {
    @extend .responsive-img;
    width: 3rem;
    padding-top: 0.4rem;
}

#intro {
    background: url('/assets/pencil-mobile.png') no-repeat center center fixed;
    height: 100vh;
    position: relative;
    background-size: cover;
    padding: 10rem 0 15rem 0;
}

.home-logo {
    @extend .responsive-img;
    width: 100%;
}

.show-more {
    margin-top: 5rem;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -43.5px;
}

.first {
    height: 50rem;
}

.staggered-list {
    opacity: 0;
}

.development-imgs {
    @extend .responsive-img;
    opacity: 0;

}

.parallax-middle {
    @extend .parallax-container;
    height: 25rem;
}

.main-content {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "AdventPro";
    font-weight: bold;
}