@import "color.scss";
@import "adventpro.scss";
@import "mixins.scss";

.main {
	height: 100%;
    width: 100%;
}

.collaboration {
    background-color: $pencil-light-blue;
}

.mvp {
    background-color: lighten($pencil-light-blue, 2);
}

.main-title {
    padding-top: 4rem;
    text-align: center;
}

iron-icon {
    width: auto;
    height: 6rem;
    color: $pencil-white;
}

.content-wrapper {
    margin: 4rem 4rem 4rem 4rem;
}

.content-wrapper ::content > .topic {
    color: $pencil-white;
    font-family: "AdventPro";
    font-size: 1.3rem;
    font-weight: 300;

    h2 {
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 1rem;
    }
}

.title {
    font-family: "AdventPro";
    text-align: center;
}


h1 {
    @extend .title;
    font-size: 2.7rem;
    font-weight: 300;
    color: $pencil-white;
}

p {
    font-family: "AdventPro";
    font-size: 1.5rem;
}