@import "color.scss";
@import "adventpro.scss";
@import "gradients.scss";

.background {
    @include gradient-directional(lighten($pencil-dark-blue, 5), darken($pencil-dark-blue, 10), 30deg);
    height: 100vh;
    overflow: hidden;
    color: $pencil-white;
}

.banner {
    background-image: url('../../img/banner.jpg');
    background-position: center;
    background-size: cover;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 100vh;
    opacity: 0.3;
}

iron-icon {
    margin: 0 auto;
    display: block;
    width: 10rem;
    height: 10rem;
}

.logo-wrapper {
    position: relative;
    padding-top: 25vh;
}

.title {
    font-family: "AdventPro";
    text-align: center;
}

h1 {
    @extend .title;
    font-size: 5rem;
    font-weight: 500;

    span {
        font-weight: 100;
    }
}

h2 {
    @extend .title;
    line-height: 5rem;
    font-size: 2rem;
    font-weight: 400;
    color: $pencil-yellow;
    span {
        font-weight: 500;
    }
}

paper-icon-button {
    --paper-icon-button-ink-color: white;
    color: $pencil-white;
    margin-top: 5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -24px;
}