<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<dom-module id="pencil-participa">
  <style>
    :host {
      position: relative;
      display: block;
    }
    h1 {
      margin-bottom: .5rem;
      color: #003744;
    }
    p {
      color: #919191;
    }
    .bestb4,
    .monetheus,
    .lupa,
    .participa,
    .milton,
    .uplug {
      display: block;
      float: left;
      margin: 10px 0;
      padding: 20px;
      background: #fff;
    }
    .image {
      padding: 10px 10px 0;
    }
    .participa {
      width: calc(60% - 50px);
      height: 450px;
    }
    .lupa {
      position: relative;
      width: calc(100% - 40px);
      height: 300px;
    }
    .lupa .image {
      padding-top: 20px;
      position: absolute;
      width: calc(40% - 30px);
      right: 0;
      bottom: 0;
      height: 830px;
      background: #FFF;
    }
    .lupa .image iron-image {
      width: 100%;
      height: 100%;
    }
    .lupa .overlap {
      position: absolute;
      width: 22%;
      right: 220px;
      bottom: 0;
    }
    .lupa .description {
      width: calc(60% - 40px);
      height: 280px;
      position: relative;
      overflow: hidden;
    }
    .monetheus {
      width: calc(60% - 60px);
      height: 360px;
    }
    .monetheus .image {
      height: 100%;
    }
    .monetheus .image iron-image {
      width: 100%;
      height: 100%;
    }
    .monetheus .description {
      position: absolute;
      right: 0;
      width: calc(60% - 60px);
      padding: 20px;
      background: #FFF;
      height: 360px;
    }
    .bestb4 {
      width: 40%;
      height: 400px;
      margin: 10px 0 10px 20px;
      background: transparent;
      padding: 0;
    }
    .bestb4 .wrapper {
      height: 350px;
      background: #FFF;
      padding: 10px 20px;
    }
    .bestb4 .image {
      padding: 0;
    }
    .bestb4 .description {
      padding: 20px;
    }
    .milton {
      width: 40%;
      height: 370px;
      background: transparent;
      padding: 0;
      margin: 10px 20px 10px 0;
    }
    .milton .wrapper {
      height: 350px;
      background: #FFF;
      padding: 10px;
    }
    .milton .description {
      padding: 10px 20px;
    }
    .uplug {
      float: unset;
      display: flex;
      flex-direction: row;
    }
    .uplug .description {
      flex: 1;
    }
    .uplug .image {
      flex: 1;
      position: relative;
    }
    .uplug .dev-image {
      position: absolute;
      width: 50%;
      bottom: 0px;
      left:45%;
    }
    @media (max-width:768px) {
      .bestb4,
      .monetheus,
      .lupa,
      .participa,
      .milton {
        display: block;
        margin: 10px 0;
        padding: 20px;
        background: #fff;
        width: auto;
        height: auto;
      }
      .image {
        padding: 10px 17% 0;
      }
      .lupa .image {
        position: inherit;
        width: auto;
        height: 301px;
      }
      .lupa .overlap {
        width: 32%;
        right: inherit;
        bottom: 260px;
      }
      .monetheus .description,
      .lupa .description {
        width: auto;
        height: auto;
        position: inherit;
        overflow: inherit;
        padding: 0;
      }
      .monetheus .image {
        padding: 0;
        position: inherit;
        width: auto;
        height: 350px;
      }
      .bestb4 .wrapper {
        height: auto;
      }
      .milton {
        margin: 10px 0;
      }
      .uplug .image {
        padding: 10px 5% 0;
      }
    }
    @media (max-width:650px) {
      .image {
        padding: 10px 8% 0;
      }
      .lupa .image {
        position: inherit;
        width: auto;
        height: 320px;
      }
      .lupa .overlap {
        width: 40%;
        right: inherit;
        bottom: inherit;
        top: 23%;
      }
      .monetheus .image {
        height: 300px;
      }
      .uplug {
        padding: 10px 3% 0;
        display: block;
      }
      .uplug .description {
        padding: 10px;
      }
    }
    @media (max-width:480px) {
      .image {
        padding: 10px 2% 0;
      }
      .lupa .image {
        position: inherit;
        width: auto;
        height: 340px;
      }
      .lupa .overlap {
        width: 44%;
        right: inherit;
        bottom: inherit;
        top: 28%;
      }
      .monetheus .image {
        height: 230px;
      }
    }
    @media (max-width:360px) {
      .image {
        padding: 10px 1% 0;
      }
      .lupa .image {
        position: inherit;
        width: auto;
        height: 320px;
      }
      .monetheus .image {
        height: 200px;
      }
    }
  </style>
  <template>
    <iron-media-query query="(min-width: 769px)" query-matches="{{large}}"></iron-media-query>
    <div class="participa">
      <div class="image">
        <iron-image
          src="/img/participa.png"></iron-image>
      </div>
      <div class="description">
        <h1><a name="participa-campinas" href="#participa-campinas">Participa Campinas</a></h1>
        <p>Projeto de participação popular desenvolvido para a campanha
        à prefeitura de Campinas(SP) do candidato Marcio Pochmann. Desenvolvido
        com o uso de tecnologias livres como o <a href="http://noosfero.org/">Noosfero</a>:
        Plataforma web para redes sociais, desenvolvido em Ruby on Rails.</p>
      </div>
    </div>
    <div class="lupa">
      <div class="image">
        <iron-image
          src="/img/lupa-proj.png" sizing="cover"
          position$="{{ lupaPos }}"></iron-image>
      </div>
      <div class="overlap">
        <iron-image
          src="/img/lupa-mobile.png"></iron-image>
      </div>
      <div class="description">
        <h1><a name="projeto-lupa" href="https://projetolupa.com/" target="blank">Projeto Lupa</a></h1>
        <p>O projeto Lupa reúne depoimentos e fotos de profissionais ligados à arte
        de contar histórias. Apresentamos aqui escritores, roteiristas, jornalistas,
        contadores de histórias, dramaturgos, redatores publicitários, críticos literários,
        letristas musicais, entre tantos outros. São muitos personagens, com algo em comum:
        a paixão pelas palavras.</p>
        <p>Desenvolvido com tecnologias emergentes, como <a href="https://www.meteor.com/">Meteor</a> e <a href="https://www.polymer-project.org/1.0/">Polymer</a>, o sistema permite
        versatilidade e adequação a novas tendências de desenvolvimento, como web apps progressivos
        e o uso de <i>webcomponents</i>.</p>
      </div>
    </div>
    <div class="monetheus">
      <div class="image">
        <iron-image sizing="{{ moneSize }}" position$="{{ monePos }}"
          src="/img/monetheus.png"></iron-image>
      </div>
      <div class="description">
        <h1><a name="monetheus" href="#monetheus">Monetheus</a></h1>
        <p>Aplicação web colaborativa para venda, troca e anúncio de moedas, com o objetivo de permitir a interação entre turistas e moradores locais para facilitar o câmbio legal entre pessoas físicas.</p>
        <p>A plataforma conta também com o uso de serviços de geolocalização e
        consumo de APIs de cotações em tempo real, falicitando o monitoramento e
        comparação de valores das moedas anunciadas.</p>
        <p>Projeto desenvolvido em <a href="http://weblog.rubyonrails.org/2016/12/21/Rails-5-0-1-has-been-released/">
          Rails 5</a>
        modo API consumido por uma aplicação progressiva desenvolvida com <a href="https://www.polymer-project.org/1.0/">Polymer</a>, a fim de permitir a fácil integração com aplicações móveis e outros provedores de serviços.</p>
      </div>
    </div>
    <div class="bestb4">
      <div class="wrapper">
        <div class="image">
          <iron-image
            src="/img/bestb4.png"></iron-image>
        </div>
        <div class="description">
          <h1><a name="bestb4" href="https://bestb4.com.br/" target="blank">Bestb4</a></h1>
          <p>O bestb4 é um aplicativo que atua na diminuição do desperdício de alimentos, desenvolvido com <a href="https://www.polymer-project.org/1.0/">Polymer</a> e <a href="https://nodejs.org">Nodejs.</a></p>
        </div>
      </div>
    </div>
    <div class="milton">
      <div class="wrapper">
        <div class="image">
          <iron-image
            src="/img/milton.png"></iron-image>
        </div>
        <div class="description">
          <h1><a href="https://miltonribeiro.org/" target="blank" >Milton Ribeiro</a></h1>
          <p>Website do artista Milton Ribeiro, desenvolvido com <a href="http://keystonejs.com/">KeystoneJs</a>.</p>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
    <div class="uplug">
      <div class="image">
        <iron-image
          src="/img/uplug.png"></iron-image>
          <iron-image class="dev-image"
            src="/img/uplug-mobile.png"></iron-image>
      </div>
      <div class="description">
        <h1><a name="uplug" href="http://uplug.com.br/" target="blank">Uplug</a></h1>
        <p>Projeto de desenvolvimento de infraestrutura MQTT para serviços de IoT.
           Uso de tecnologias como <a href="https://www.python.org/download/releases/3.4.0/">Python 3.4 </a> , <a href="https://www.djangoproject.com/">Django</a> e <a href="http://emqtt.io/">EMQ Erlang Broker</a> para
           construção da API e <a href="https://www.polymer-project.org/1.0/">Polymer</a> para desenvolvimento do front-end.</p>
      </div>
    </div>

  </template>
  <script>
    Polymer({
      is: 'pencil-participa',
      properties: {
        large: {
          type: Boolean,
          observer: 'largeChanged'
        },
        monePos: String,
        moneSize: String,
        lupaPos: String
      },
      largeChanged: function(newLarge) {
        if(newLarge) {
          this.moneSize = 'cover';
          this.lupaPos = 'center';
          this.monePos = 'right';
        }
        else {
          this.moneSize = 'contain';
          this.lupaPos= 'left bottom';
          this.monePos= 'left bottom';
        }
      },
      scroll: function() {
        if(window) {
          window.scroll({
            top: window.innerHeight - 60,
            left: 0,
            behavior: 'smooth'
          });
        }
      }
    });
  </script>
</dom-module>
