<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-iconset/iron-iconset.html">
<link rel="import" href="../../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="./pencil-icons.html">

<dom-module id="pencil-banner">
  <link rel="import" type="css" href="./css/pencil-banner.css">
  <template>
    <div class="background">
      <div class="banner"></div>
      <div class="logo-wrapper">
        <iron-icon icon="pencil:logo"></iron-icon>
        <h1>pencil<span>labs</span></h1>
        <h2>desenhando o futuro. <span>Juntos!</span></h2>
      </div>
      <paper-icon-button icon="arrow-downward"></paper-icon-button>
    </div>
  </template>
  <script>
    Polymer({
      is: 'pencil-banner',
    });
  </script>
</dom-module>