<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">

<dom-module id="pencil-participa">
  <style>
    :host {
      position: relative;
      display: block;
    }
    h1 {
      margin-bottom: .5rem;
      color: #003744;
    }
    p {
      color: #919191;
    }
    .uplug,
    .monetheus,
    .lupa,
    .participa {
      display: block;
      float: left;
      margin: 10px;
      padding: 20px;
      background: #fff;
    }
    .image {
      padding: 10px 10px 0;
    }
    .participa {
      width: calc(60% - 60px);
      height: 450px;
    }
    .lupa {
      position: relative;
      width: calc(100% - 60px);
      height: 300px;
    }
    .lupa .image {
      padding-top: 20px;
      position: absolute;
      width: calc(40% - 30px);
      right: 0;
      bottom: 0;
      height: 830px;
      background: #FFF;
    }
    .lupa .image iron-image {
      width: 100%;
      height: 100%;
    }
    .lupa .overlap {
      position: absolute;
      width: 22%;
      right: 220px;
      bottom: 0;
    }
    .lupa .description {
      width: calc(60% - 60px);
      height: 280px;
      position: relative;
      overflow: hidden;
    }
    .monetheus {
      width: calc(60% - 60px);
      height: 360px;
    }
    .monetheus .image {
      height: 100%;
    }
    .monetheus .image iron-image {
      width: 100%;
      height: 100%;
    }
    .monetheus .description {
      position: absolute;
      right: 10px;
      width: calc(60% - 60px);
      padding: 20px;
      background: #FFF;
      height: 360px;
    }
    .uplug {
      width: calc(40% - 20px);
      height: 400px;
      background: transparent;
      padding: 0;
    }
    .uplug .wrapper {
      height: 370px;
      background: #FFF;
    }
    .uplug .image {
      padding: 0;
    }
    .uplug .description {
      padding: 20px;
    }
    @media (max-width:768px) {
      .uplug,
      .monetheus,
      .lupa,
      .participa {
        display: block;
        margin: 10px;
        padding: 20px;
        background: #fff;
        width: auto;
        height: auto;
      }
      .image {
        padding: 10px 17% 0;
      }
      .lupa .image {
        position: inherit;
        width: auto;
        height: 301px;
      }
      .lupa .overlap {
        width: 32%;
        right: inherit;
        bottom: 260px;
      }
      .monetheus .description,
      .lupa .description {
        width: auto;
        height: auto;
        position: inherit;
        overflow: inherit;
        padding: 0;
      }
      .monetheus .image {
        padding: 0;
        position: inherit;
        width: auto;
        height: 350px;
      }
      .uplug .wrapper {
        height: auto;
      }
    }
    @media (max-width:650px) {
      .image {
        padding: 10px 8% 0;
      }
      .lupa .image {
        position: inherit;
        width: auto;
        height: 320px;
      }
      .lupa .overlap {
        width: 40%;
        right: inherit;
        bottom: inherit;
        top: 23%;
      }
      .monetheus .image {
        height: 300px;
      }
    }
    @media (max-width:480px) {
      .image {
        padding: 10px 2% 0;
      }
      .lupa .image {
        position: inherit;
        width: auto;
        height: 340px;
      }
      .lupa .overlap {
        width: 44%;
        right: inherit;
        bottom: inherit;
        top: 28%;
      }
      .monetheus .image {
        height: 230px;
      }
    }
    @media (max-width:360px) {
      .image {
        padding: 10px 1% 0;
      }
      .lupa .image {
        position: inherit;
        width: auto;
        height: 320px;
      }
      .monetheus .image {
        height: 200px;
      }
    }
  </style>
  <template>
    <iron-media-query query="(min-width: 769px)" query-matches="{{large}}"></iron-media-query>
    <div class="participa">
      <div class="image">
        <iron-image
          src="/img/participa.png"></iron-image>
      </div>
      <div class="description">
        <h1><a href="#">Participa Campinas</a></h1>
        <p>Bacon ipsum dolor amet leberkas jowl alcatra sausage chuck doner.
        Pork beef pork belly t-bone bacon landjaeger pig andouille venison biltong ham hock.
        Salami pork loin turducken biltong pork chop, shankle chicken strip steak boudin.</p>
      </div>
    </div>
    <div class="lupa">
      <div class="image">
        <iron-image
          src="/img/lupa-proj.png" sizing="cover"
          position$="{{ lupaPos }}"></iron-image>
      </div>
      <div class="overlap">
        <iron-image
          src="/img/lupa-mobile.png"></iron-image>
      </div>
      <div class="description">
        <h1><a href="#">Projeto Lupa</a></h1>
        <p>Bacon ipsum dolor amet leberkas jowl alcatra sausage chuck doner.
        Pork beef pork belly t-bone bacon landjaeger pig andouille venison biltong ham hock.
        Salami pork loin turducken biltong pork chop, shankle chicken strip steak boudin.</p>
        <p>Bacon ipsum dolor amet leberkas jowl alcatra sausage chuck doner.
        Pork beef pork belly t-bone bacon landjaeger pig andouille venison biltong ham hock.
        Salami pork loin turducken biltong pork chop, shankle chicken strip steak boudin.</p>
      </div>
    </div>
    <div class="monetheus">
      <div class="image">
        <iron-image sizing="{{ moneSize }}" position$="{{ monePos }}"
          src="/img/monetheus.png"></iron-image>
      </div>
      <div class="description">
        <h1><a href="#">Monetheus</a></h1>
        <p>Bacon ipsum dolor amet leberkas jowl alcatra sausage chuck doner.
        Pork beef pork belly t-bone bacon landjaeger pig andouille venison biltong ham hock.
        Salami pork loin turducken biltong pork chop, shankle chicken strip steak boudin.</p>
      </div>
    </div>
    <div class="uplug">
      <div class="wrapper">
        <div class="image">
          <iron-image
            src="/img/uplugdev.png"></iron-image>
        </div>
        <div class="description">
          <h1><a href="#">Uplug</a></h1>
          <p>Bacon ipsum dolor amet leberkas jowl alcatra sausage chuck doner.
          Pork beef pork belly t-bone bacon landjaeger pig andouille venison biltong ham hock.</p>
        </div>
      </div>
    </div>
    <div class="uplug">
      <div class="wrapper">
        <div class="image">
          <iron-image
            src="/img/uplugdev.png"></iron-image>
        </div>
        <div class="description">
          <h1><a href="#">Uplug</a></h1>
          <p>Bacon ipsum dolor amet leberkas jowl alcatra sausage chuck doner.
          Pork beef pork belly t-bone bacon landjaeger pig andouille venison biltong ham hock.</p>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>

  </template>
  <script>
    Polymer({
      is: 'pencil-participa',
      properties: {
        large: {
          type: Boolean,
          observer: 'largeChanged'
        },
        monePos: String,
        moneSize: String,
        lupaPos: String
      },
      largeChanged: function(newLarge) {
        if(newLarge) {
          this.moneSize = 'cover';
          this.lupaPos = '';
          this.monePos = 'right';
        }
        else {
          this.moneSize = 'contain';
          this.lupaPos= 'left bottom';
          this.monePos= 'left bottom';
        }
      },
      scroll: function() {
        if(window) {
          window.scroll({
            top: window.innerHeight - 60,
            left: 0,
            behavior: 'smooth'
          });
        }
      }
    });
  </script>
</dom-module>

