<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-iconset/iron-iconset.html">
<link rel="import" href="../../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="./pencil-icons.html">

<dom-module id="pencil-card">
  <style>
    :host {
      display: block;
      background: #FFF;
    }
    h1 {
      margin-bottom: .5rem;
      color: #003744;
    }
    .image {
      float: left;
      max-width: 50%;
      width: 50%;
      height: 400px;
      overflow: hidden;
    }
    .image iron-image {
      width: 100%;
      height: 100%;
    }
    .main {
      margin: 0;
      padding: 1.3rem 2rem;
      float: left;
      height: calc(400px - 2.6rem);
      width: calc(50% - 4rem);
      position: relative;
    }
    .image.reverse,
    .main.reverse {
      float: right;
    }
    .description {
      color: #919191;
    }
    .abilities {
      position: absolute;
      bottom: 1rem;
      left: 2rem;
      right: 0;
    }
    @media (min-width: 769px) {
      .ability {
        margin: 0 1rem;
      }
    }
    @media (max-width: 768px) {
      .image {
        width: 100%;
        max-width: none;
      }
      .main {
        height: auto;
        width: calc(100% - 4rem);
      }
      .ability {
        margin: 10px !important;
        display: inline-block !important;
      }
      .abilities {
        position: inherit;
        bottom: inherit;
        left: inherit;
      }
    }
    @media (max-width: 480px) {
      .ability {
        font-size: .5rem;
        text-align: center;
      }
      .ability.DevOps0,
      .ability.Developer0,
      .ability.Designer0 {
        margin: 10px !important;
        display: block !important;
      }
      .ability:not(.DevOps0):not(.Developer0):not(.Designer0) {
        width: 40%;
      }
    }
    .ability {
      font-size: .7rem;
    }
    .ability.DevOps0,
    .ability.Developer0,
    .ability.Designer0 {
      font-size: 1rem;
      height: 50px;
      margin: 50px 0 20px;
      color: red;
    }
    .ability.DevOps0 iron-icon,
    .ability.Developer0 iron-icon,
    .ability.Designer0 iron-icon {
      width: 50px;
      height: 50px;
    }
    .ability.Developer0 {
      color: #00BCD4;
    }
    .ability.DevOps0 {
      color: #FFB713;
    }
  </style>
	<template>
		<div class="wrapper">
      <div class$="image {{reverse}}">
			<iron-image sizing="cover" position="center" src="{{image}}"></iron-image>
      </div>
			<div class$="main {{reverse}}">
				<h1>{{name}}</h1>
        <div class="content-wrapper">
          <p class="description">{{description}}</p>
        </div>
        <div class="abilities">
          <template is="dom-repeat" items="{{abilities}}">
            <span class$="ability {{item.name}}{{index}}"><iron-icon  icon="{{item.icon}}"></iron-icon>
              {{item.name}}
            </span>
          </template>
        </div>
			</div>
      <div style="clear:both"></div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'pencil-card',
			properties: {
        name: String,
        description: String,
        image: String,
        reverse: String,
        abilities: {
          type: Array,
          value: function() {
            return [];
          }
        }
      },
		});
	</script>
</dom-module>
