<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="./pencil-header.html">

<dom-module id="pencil-home-header">
  <style>
    #header {
      opacity: 0;
    }
  </style>
  <template>
    <div class="footer-info">
      <pencil-header id="header" selected="3"></pencil-header>
    </div>
  </template>
  <script>
    Polymer({
      is: 'pencil-home-header',
      attached: function() {
        var self = this;
        window.onscroll = function() {
          var offset = window.pageYOffset ||
                       document.body.scrollTop ||
                       document.documentElement.scrollTop;
          if( offset > window.screen.height*0.5) {
            self.$.header.style.opacity = "1";
          }
          else {
            self.$.header.style.opacity = "0";
          }
        }
      }
    });
  </script>
</dom-module>
