@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Thin.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Bold.ttf") format("truetype");
  font-weight: 700;
}
/* line 5, ../../../sass/pencil-banner.scss */
.background {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(30deg, #007591, #003744);
  background-image: -o-linear-gradient(30deg, #007591, #003744);
  background-image: linear-gradient(30deg, #007591, #003744);
  height: 100vh;
  overflow: hidden;
  color: #F3F8F9;
}

/* line 12, ../../../sass/pencil-banner.scss */
.banner {
  background-image: url("../../img/banner.jpg");
  background-position: center;
  background-size: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100vh;
  opacity: 0.3;
}

/* line 25, ../../../sass/pencil-banner.scss */
iron-icon {
  margin: 0 auto;
  display: block;
  width: 10rem;
  height: 10rem;
}

/* line 32, ../../../sass/pencil-banner.scss */
.logo-wrapper {
  position: relative;
  padding-top: 25vh;
}

/* line 37, ../../../sass/pencil-banner.scss */
.title, h1, h2 {
  font-family: "AdventPro";
  text-align: center;
}

/* line 42, ../../../sass/pencil-banner.scss */
h1 {
  font-size: 5rem;
  font-weight: 500;
}
/* line 47, ../../../sass/pencil-banner.scss */
h1 span {
  font-weight: 100;
}

/* line 52, ../../../sass/pencil-banner.scss */
h2 {
  line-height: 5rem;
  font-size: 2rem;
  font-weight: 400;
  color: #FFB713;
}
/* line 58, ../../../sass/pencil-banner.scss */
h2 span {
  font-weight: 500;
}

/* line 63, ../../../sass/pencil-banner.scss */
paper-icon-button {
  --paper-icon-button-ink-color: white;
  color: #F3F8F9;
  margin-top: 5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -24px;
}
