@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Thin.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Bold.ttf") format("truetype");
  font-weight: 700;
}
/* line 5, ../../../sass/pencil-footer.scss */
.footer-info {
  background-color: #101015;
  color: #F3F8F9;
  text-align: center;
  width: 100%;
  font-family: "AdventPro";
}

/* line 13, ../../../sass/pencil-footer.scss */
ul {
  list-style-type: none;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1.2rem;
}
@media (min-width: 48em) {
  .footer-info {
    text-align: left;
  }
}
/* line 22, ../../../sass/pencil-footer.scss */
li {
  display: inline;
}

/* line 26, ../../../sass/pencil-footer.scss */
li.credits {
  float: right;
  display: inline-block;
  text-align: center;
  padding: 1.1rem;
  font-size: 1rem;
  margin-right: 1rem;
}

/* line 35, ../../../sass/pencil-footer.scss */
.credits small {
  color: #006077;
}

/* line 39, ../../../sass/pencil-footer.scss */
li iron-icon {
  width: 1.2rem;
  height: 1.2rem;
}

/* line 44, ../../../sass/pencil-footer.scss */
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1rem 0.3rem .6rem;
  text-decoration: none;
  font-size: 1em;
  transition-property: background-color;
  transition-duration: 0.3s;
}
