@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Thin.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "AdventPro";
  src: url("../../fonts/AdventPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

:host {
  font-family: 'Roboto', 'Noto', sans-serif;
}

/* line 1, ../../../sass/_flex.scss */
.flex {
  @apply (--layout-horizontal);
  @apply (--layout-wrap);
  width: 100%;
}

/* line 7, ../../../sass/_flex.scss */
.flexchild {
  @apply (--layout-flex);
}

/* line 5, ../../../sass/pencil-hire-us.scss */
.background {
  background-color: #FFF;
  width: 100%;
  padding-top: 5rem;
}

/* line 11, ../../../sass/pencil-hire-us.scss */
.center {
  @apply (--layout-around-justified);
  @apply (--layout-wrap);
}

/* line 17, ../../../sass/pencil-hire-us.scss */
.contact-message {
  color: #003744;
  font-family: "AdventPro";
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 3rem;
  text-align: center;
  width: 40rem;
}
/* line 27, ../../../sass/pencil-hire-us.scss */
.contact-message paper-icon-button.deal {
  color: #FFB713;
  width: 7rem;
  height: 7rem;
}
/* line 33, ../../../sass/pencil-hire-us.scss */
.contact-message h1 {
  font-size: 3rem;
  font-weight: 500;
}

/* line 39, ../../../sass/pencil-hire-us.scss */
.form {
  text-align: left;
  width: 25rem;
  color: #003744;
  padding-bottom: 5rem;
}

/* line 46, ../../../sass/pencil-hire-us.scss */
.custom-input, paper-input, paper-textarea {
  --paper-input-container-color: #003744;
  --paper-input-container-focus-color: #FFB713;
  --paper-input-container-input-color: #003744;
}
