<!DOCTYPE html>
<html lang="en-us">

  {% include internal_head.html %}

  <body>
    <div>
    <pencil-header id="header" selected="2"></pencil-header>
    </div>
    <div class="background">
      <h1 class="title">Acompanhe nossas <span>publicações</span> e tutoriais</h1>
      <p>Sempre que desenvolvemos ou projetamos algo legal, compartilhamos aqui. Acompanhe nossas publicações e confira o que há de novo na Pencillabs.</p>
      <div class="content container">
        {{ content }}
      </div>
    </div>
    <pencil-footer></pencil-footer>
  </body>
</html>
