<!DOCTYPE html>
<html lang="en-us">

  {% include internal_head.html %}

  <body>
    <div>
    <pencil-header id="header" selected="0"></pencil-header>
    </div>
    <div class="background">
      <h1 class="title">Conheça <span>os projetos</span> que desenvolvemos</h1>
      <p>Nossa versatilidade nos permite trabalhar com projetos desde infraestrutra e automação residencial, a aplicativos móveis e redes sociais. Veja o que já produzimos!</p>
      <div class="content container">
        {{ content }}
      </div>
    </div>
    <pencil-footer></pencil-footer>
  </body>
</html>
