<!DOCTYPE html>
<html lang="en-us">

  {% include internal_head.html %}

  <body>
    <div>
    <pencil-header id="header" selected="0"></pencil-header>
    </div>
    <div class="background">
      <h1 class="title">Conheça <span>quem faz</span> a Pencillabs</h1>
      <p>Somos uma equipe multidisciplinar formada por pessoas que vivem
        para desenvolver novos produtos digitais segundo a filosofia
        Software Livre. Valorizamos o aprendizado mútuo e a cooperação
        para alcançar resultados inovadores.</p>
      <div class="content container">
        {{ content }}
      </div>
    </div>
    <script>

    </script>
  </body>
</html>
